* {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 28px;
}



/* HEADER */

header {
    position: fixed;
    top: 0;
    display: flex;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.logo {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 50px;
    margin-left: 10px;
}

.navigation {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.navigation ul li {
    display: inline-block;
    padding: 0 10px;
}



/* MISSION */

#mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: url(./resources/images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 69px 40px 40px 40px;
}

.banner {
    display: flexbox;
    align-items: center;
    width: 1200px;
    line-height: 40px;
    background-color: black;
}



/* FEATURED */

#featured {
    max-width: 1000px;
    margin: auto;
}

.images {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.featured-images {
    margin: 10px;
}

.featured-images img {
    height: 200px;
    width: 300px;
}

.featured-images h4 {
    margin-top: 10px;
}

.text {
    line-height: 40px;
}



/* LOCATIONS */

#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
    background: url('resources/images/img-locations-background.jpg') center no-repeat;
    overflow-y: scroll;
  }
  
#locations h2 {
    flex: 1 1 100%; 
    align-self: flex-end;
    background: none;
  }
  
.location {
    align-self: flex-start;
    width: 300px;
    margin: 15px 20px;
    background-color: black;
    line-height: 240%;
    padding: 10px 0;
  }

/* CONTACT */

.contact {
    height: 200px;
    width: auto;
    padding: 10px;
  }

/* FOOTER */

footer {
    float: left;
    padding-left: 20px;
    margin-bottom: 30px;
}